.feed-item {
    height: 100px;
    width: 100px;
    margin: 2px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 10px solid #EECC50;
    border-radius: .8em;
}

.feed-item-data {
    text-align: center;
    font-size: 15px;
    color: #DC8526;
}