.square {
    height: 100px;
    width: 100px;
    margin: 2px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 10px solid #EECC50;
    border-radius: .8em;
    transition: all 0.3s ease;
}

.square-data {
    text-align: center;
    font-size: 30px;
    color: #DC8526;
}